.detailsCard{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: Polysans, sans-serif;
    color: #393e46;

}

.name{
    font-size:24px;
    margin-bottom:10px;
}

.imageRecipe{
    max-width: 100%;
    height: auto;
    border-radius:5px;
    margin-bottom: 10px;
}

.recipeDetails{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishTypes{
    padding: 0px;
    border-radius: 5px;
}
.dishTypes ol li{
    margin-bottom: 5px;
}

.recipeInstructions{
    padding: 0px;
    border-radius: 5px;
    color: #adaab0;
}

.recipeInstructions ol li{
    margin-bottom: 5px;
}

